[Unit]
Description=One API Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=onehao
WorkingDirectory=/home/onehao/workspace/fastgpt/one-api
ExecStart=/home/onehao/workspace/fastgpt/one-api/one-api --port 1981 --log-dir /home/onehao/workspace/fastgpt/one-api/logs
Restart=always
RestartSec=5
StandardOutput=append:/home/onehao/workspace/fastgpt/one-api/output.log
StandardError=append:/home/onehao/workspace/fastgpt/one-api/output.log

[Install]
WantedBy=multi-user.target
